body{
  background-color: rgb(60, 227, 199);
}

.aquarium{
  position: relative;
  overflow: hidden;
  width: 800px;
  height: 400px;
   background: linear-gradient(to bottom, #6ec6ff,#057cde
  );
  border: 12px solid rgba(22, 222, 222, 0.767);
  box-shadow: inset 0 0 20px rgba(255,255,255,0.7);
  border-radius: 100px;
  padding: 180px;
}

.bottom {
  position: absolute;
  bottom: 15px;
  right: 20px;
  display: flex;
  gap: 90px;
}

.fish {
  position: relative;
  animation-name: swim, float;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
}

/* διαφορετικές ταχύτητες */
.slow   { animation-duration: 18s, 4s; }
.medium { animation-duration: 12s, 3s; }
.fast   { animation-duration: 8s, 2s; }


@keyframes swim {
  from { transform: translateX(-120px); }
  to   { transform: translateX(700px); }
}
/* πάνω–κάτω */
@keyframes float {
  0%   { top: 0; }
  50%  { top: 20px; }
  100% { top: 0; }
}